<div class="widget">
  <h4>Your search</h4>
  <div>
    <div class="col-xs-12">
      <label> Loan Amount</label><br/>
      <span> $100,0000</span>
    </div>
    <div class="col-xs-12">
      <label>Loan Purpose</label><br/>
      <span>Refinance</span>
    </div>
    <div class="col-xs-12">
      <label> Repayment type</label><br/>
      <span> Principle & Interest</span>
    </div>
    <div class="col-xs-12">
      <label> State</label><br/>
      <span> QLD</span>
    </div>
  </div>
</div>
