table td {
  font-family: Walsheim,Helvetica,Arial,sans-serif;
}
tbody tr td{
  padding-top: 53px;
  vertical-align: top;
  color:#727272;
}
thead tr td{
  padding-top: 23px;
  vertical-align: top;
  color:#727272;
}
td{
  border: none;
}
tr{
  border-top: #dee2e6 1px solid;
}

.table-dark td{
  color: #007a87;
  font-size: 16px;
  font-weight:bold;
}
.product{
  position: absolute;
  padding-top: 12px !important;
  padding-left: 8px;
  max-width: 81%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  font-weight: 700;
  margin-bottom: 8px;
  color: #727272;
  text-align: left;
  vertical-align: top;
}

.company{
  float: left;
}
